<div class="movie-card">
  <div class="movie-poster">
    <img class="movie-poster__image" src={{this.posterImage}} alt=""/>
    <div class="movie-poster__read-more">
    {{#link-to 'movie.info' @movie.id invokeAction=(action 'toggleModal')}}
      <button class="read-more__button">Read More</button>
    {{/link-to}}
    </div>
  </div>

  <div class="movie-details">
      <div class="movie-details__header-title" title="{{@movie.title}}"> {{@movie.title}} </div>
      <div class="movie-details__year"> {{this.releaseYear}} </div>
  </div>
</div>

{{#if isShowingModal}}
  {{#modal-dialog
    targetAttachment="center"
    translucentOverlay=true
    hasOverlay=false
    clickOutsideToClose=true
  }}
    {{outlet}}
  {{/modal-dialog}}
{{/if}}



