<div class="movie-card">
  <div class="movie-poster">
    <img class="movie-poster__image" src={{this.posterImage}} alt=""/>
    <div class="movie-poster__read-more">
    {{#link-to 'search.movie.info' @movie.id invokeAction=(action 'toggleModal')}}
      <button class="read-more__button">Read More</button>
    {{/link-to}}
    </div>
  </div>

  <div class="movie-details">
      <div class="movie-details__header-title" title="{{@movie.title}}"> {{@movie.title}} </div>
      <div class="movie-details__year"> {{this.releaseYear}} </div>
  </div>
</div>

{{#if isShowingModal}}
    {{#modal-dialog
        targetAttachment="center"
        translucentOverlay=true
        clickOutsideToClose=true
    }}
      {{outlet}}
      <button class="close-button" {{on "click" (fn this.toggleModal)}}>
        <i class="fa fa-close"></i>
      </button>
      <button class="close-button--mobile" {{on "click" (fn this.toggleModal)}}>Close</button>
    {{/modal-dialog}}
{{/if}}



