<div class="info">
    <div class="info__details">
      <div class="details__name">
        {{@movie.title}}
      </div>

      {{#if @movie.runtime}}
        <div class="details__runtime">
          {{@movie.runtime}} min
        </div>
      {{/if}}

      <div class="details__genre">
        {{#each this.genres as |genre|}}
            <div class="genre__label">
              {{genre.name}}
            </div>
        {{/each}}
      </div>

      <div class="details__overview">
        {{@movie.overview}}
      </div>
    </div>

    <div class="info__poster" style={{posterStyles}}></div>
</div>
